*{
    padding: 0;
    margin: 0 auto; 
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}
body{
    background-color: rgb(7, 22, 238);
    background-image:radial-gradient(rgb(64, 5, 242),rgb(3, 3, 3));
}


a{
    text-decoration:none;
}

.header{
    display: flex;
    padding: 10px;
    margin: 0;
    flex-flow: row wrap;
    align-items: stretch;
   
   
}

.header_brand {
    display: flex;
    width: 60%;
    height: 337px;
    align-items: center;
}
.header_brand .brand_logo{
   width: 90%;
   height: 80%;
}

/*Textos cabeçarioa*/  
.texto1{
    background-image: url(/assets/imagens/sua\ logo\ agui.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 653px;

}

.texto{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 17px 23px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 27px;
    flex-shrink: 0;
    flex-wrap: wrap;
   
    /* background-color: rgb(7, 22, 238);
    background-image:radial-gradient(rgb(64, 5, 242),rgb(3, 3, 3)); */
   
   
}
.brand_textoH1{
    color: #F7FFD5;
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
    margin: 10px 16px 16px 16px;
    height: 150px;
    display: flex;
    align-items: flex-end;
}
.brand_textoH2{
    color: #F7FFD5;
    font-weight: 600;
    line-height: normal;
    margin:10px 16px 16px 16px;
    font-size: 25px;
}
 /*  Seção icones */

.texto_icon{
    display: flex;
    width: 100%;
    height: 300px;
    font-size: 45px;
    padding: 16px 5px;
    justify-content: space-between;
    align-items: flex-end;
}

.icon_link:hover{
    color: #fff;
    font-weight: 600;
}
.texto_imagem{
    width: 21%;
}

/* video */
.video{display: flex;}

/* Carrosel*/

.car_textoH3{
   
    color: #F7FFD5;
    font-weight: 200;
    line-height: normal;
    margin:10px 16px 16px 16px;
    font-size: 30px;
}
.carrosel{
    height: 600px;
    padding-top: 15px;
}

.d-block{
    width: 62%;
    height: 462px;
}

/* Texto Clientes*/
.texto_cliente{
    color: #F7FFD5;
    font-weight: 300;
    line-height: normal;
    margin:10px 16px 16px 16px;
    font-size: 40px;
}

.texto_clienteP{
    color: #F7FFD5;
    font-weight: 250;
    line-height: normal;
    margin:10px 16px 16px 16px;
    font-size: 15px;
}

/* gallery*/

.galeria_imag{
    display: flex;
    width: 93%;
    margin: 1rem;
    gap: 1rem;
    align-items: flex-start;
    place-content: center;
    flex-wrap: wrap;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  /* forma de pagamento*/

.pagamento{
    height: 276px;
    background-color: rgb(181, 0, 252);
    background-image: linear-gradient(rgb(183, 6, 210),rgb(3, 3, 3));
    width: 98%;
    border-radius: 9px;
}  

.icones{
    width: 100%;
    display: flex;
    font-size: 60px;
    color: #f2f3f0;
    
    
}  
 
/* Menu mobile */

.menu{
    display: flex;
    align-items: center;
}

.menu_item{
    width: 100%;
}
.menu--mobile{

    justify-content: space-between;
    border-top: 1px solid #28292e ;
    width: 100vw;
    position: fixed;
    bottom: 0;
    padding:3px;

}
.menu--mobile .menu_link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .500rem;
    padding: 1rem;
}

.menu_link:hover .menu_icon,
.menu_link:hover .menu_texto,
.menu_link.active .menu_icon,
.menu_link.active .menu_texto{
    color: #fff;
    font-weight: 600;
    
}
.menu_link{
    text-decoration: none;
}
.menu_icon{
    font-size: 1.5rem;
    
}
.menu_texto{
    font-size: .75rem;
    text-transform: uppercase;
}
/* Menu inferior desktop*/
@media (min-width:768px){
    .menu--mobile{
        display: none;
    }
   
   
}
/*menu superior e mobile*/
@media(max-width:769px){
    .menu--mobile-Principal{
        display: none;
    }
    .header_brand {
        width: 90%;
        height: 235px;
       
    }
    .brand_textoH1{
        font-size: 32px;
       
    }
    .brand_textoH2{
        
        font-size: 25px;
    }
    .texto1{
        height: 604px;
    }
    .texto_imagem{
        width: 300px;
    }
    .texto_icon{
        align-items: center;
    }
    div.gallery {
        align-items: center;
        width: 200px;
      }
      .gallery_vid{
        width: 100%;
      }

    .pagamento{
        height: 134px;
        margin: 0.5rem;
        border-radius: 10px;
        width: 96%;
        padding: 3px;
    }
 
    .icones{
        font-size: 30px;
        color: #f2f3f0;
    }
    .lista_footer{
        height: 330px;
    }
    
    
}
/* Menu desktop */

.menu--mobile-Principal{
    gap: 1rem;
    margin: 1rem;
    padding: 10px;
    position: fixed;  
   
    
}
.header_nav{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

/*Footer*/

.footer{
    width: 100%;
    border-radius: 10px;
    height: 364px;
    background-color: rgb(8, 11, 93);
}

.lista_footer{
    height: 200px;
}
.coluna1{
    display: flex;
    flex-direction: column;
}
.lista1{
    font-size: 20px;
    font-weight: 200;
    color: #F7FFD5;
}
.span_lista1{
    font-size: 10px;
    color: #F7FFD5
}